{% extends "base.html" %}

{% block content %}
{% set name= "baz" %}
<h1>Template</h1>
<ul>
    <li><a href="{{ url_for('watchlist')}}">watchlist</a></li>
    <li>Filter: {{foo|length}}</li>
    <li>Global: {{ bar() }}</li>
</ul>
<img src="{{ url_for('static', filename='avatar.jpg') }}" width="50">
{% endblock %}
{% block styles %}
{{ super() }}
<style>
    .foo {
        color: red;
    }
</style>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'styles.css' ) }}">
{% endblock %}