<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}Template - HelloFlask{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% block content %}
{% set name= "baz" %}
<h1>Template</h1>
<div>
    <form id="main_form" method="POST" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
        <input type="file" name="pdf">
        <input type="submit" />
    </form>
</div>

{% endblock %}


{% block styles %}
<style>
    .foo {
        color: red;
    }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>