{% extends "base.html" %}

{% block content %}
{% set name= "baz" %}
<h1>Template</h1>
<ul>
    <li><a href="{{ url_for('watchlist')}}">watchlist</a></li>
    <li>Filter: {{foo|length}}</li>
    <li>Global: {{ bar() }}</li>
</ul>
<!--<img src="{{ url_for('static', filename='avatar.jpg') }}" width="50">-->
{% endblock %}
{% block styles %}
{{ super() }}
<style>
    .foo {
        color: red;
    }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% endblock %}